<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link type="text/css" rel="stylesheet" href="../../../static/user/css/style.css">
    <script src="../../../static/user/js/jquery-1.8.3.min.js"></script>
    <script src="../../../static/user/js/jquery.luara.0.0.1.min.js"></script>
</head>
<body>
<!--引入头部-->
<div th:replace="common/top::#top"></div>
<!--导航条-->
<div class="width100" style="height: 45px;background: #dd4545;margin-top: 40px;position: relative;z-index: 100;">
    <!--中间的部分-->
    <!--引入普通导航栏-->
    <div th:replace="common/bar::#pageNav"></div>
</div>

<div class="width1200 center_yh hidden_yh font14" style="height: 40px;line-height: 40px;">
    <span>当前位置：</span><a href="${ctx}/login/uIndex" class="c_66">首页</a>
    ><a href="#" class="c_66">个人中心</a>
    ><a href="#" class="c_66">商品收藏</a>
</div>
<div class="width100 hidden_yh" style="background: #f0f0f0;padding-top: 34px;padding-bottom: 34px;">
    <div class="width1200 hidden_yh center_yh">

        <!--引入用户功能栏-->
        <div th:replace="common/bar::#vipNav(uri='favorite')"></div>

        <div id="vipRight">
            <div class="hidden_yh bj_fff" style="width: 938px;border: 1px solid #ddd;">
                <div class="width100 fon24" style="height: 60px;line-height: 60px;text-indent: 50px;background: #f5f8fa;border-bottom: 1px solid #ddd;">
                    我的收藏
                </div>
                <div class="hidden_yh" style="padding: 20px;width: 898px;" th:each="item:${list}">

                        <a href="#">
                            <div class="width100 hidden_yh" style="border-bottom: 1px dashed #ddd;padding-top: 10px;padding-bottom: 10px;">
                                <img th:src="${item.url1}" width="100" height="100" class="left_yh" style="margin-right: 15px;">
                                <div class="left_yh" style="width: 580px;">
                                    <h3 class="font18 c_33 font100">[[${item.name}]]</h3>
                                    <p class="red" style="margin-top: 10px;">￥[[${item.price}]]</p>
                                </div>
                                <div class="right_yh">
                                    <a th:href="@{/commodity/removeFavorite(itemId=${item.id})}" class="onfff block_yh tcenter font16" style="margin-top: 10px;padding: 6px;">取消收藏</a>
                                </div>
                            </div>
                        </a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--引入尾部-->
<div th:replace="common/foot::#foot"></div>
</body>
</html>