<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link type="text/css" rel="stylesheet" href="../../../static/user/css/style.css">
    <script src="../../../static/user/js/jquery-1.8.3.min.js"></script>
    <script src="../../../static/user/js/jquery.luara.0.0.1.min.js"></script>
    <script>

        function checkPass(){
            let oldPass = $("#xin").val();
            let newPass = $("#que").val();
            if(oldPass != newPass){
                alert("密码输入不一致！");
                return false;
            }
            return true;
        }

        //校验密码
        function checkOldPas(){
            var oldPass = $("#jiu").val();
            if(oldPass == null || ''==oldPass){
                alert("请输入旧密码！");
                $("#jiu").css("border","1px solid red");
                return false;
            }
            return true;
        }
        //校验密码
        function checknewPas(){
            var newPass = $("#xin").val();
            var reg_newPass = /^\w{6,20}$/;
            var flag = reg_newPass.test(newPass);
            if(flag){
                //用户名合法
                $("#xin").css("border","");
            }else{
                //用户名非法
                alert("新密码格式错误，请输入6到20位字母或数字！");
                $("#xin").css("border","1px solid red");
            }
            return flag;
        }
        // //校验密码
        // function checkQuePas(){
        //     var password2 = $("#que").val();
        //     var reg_password2 = /^\w{6,20}$/;
        //     var flag = reg_password2.test(password2);
        //     if(flag){
        //         //用户名合法
        //         $("#password").css("border","");
        //     }else{
        //         //用户名非法
        //         alert("密码格式错误，请输入6到20位字母或数字！");
        //         $("#password").css("border","1px solid red");
        //     }
        //     return flag;
        // }

        function passForm() {
            if(checkOldPas() && checknewPas() && checkPass()){
                return true;
            }
            return false;
        }


    </script>
</head>
<body>
<!--引入头部-->
<div th:replace="common/top::#top"></div>
<!--导航条-->
<div class="width100" style="height: 45px;background: #dd4545;margin-top: 40px;position: relative;z-index: 100;">
    <!--中间的部分-->
    <div class="width1200 center_yh relative_yh" style="height: 45px;">
        <!--引入普通导航栏-->
        <div th:replace="common/bar::#pageNav"></div>
    </div>
</div>

<div class="width1200 center_yh hidden_yh font14" style="height: 40px;line-height: 40px;">
    <span>当前位置：</span><a href="#" class="c_66">首页</a>
    ><a href="#" class="c_66">个人中心</a>
    ><a href="#" class="c_66">修改密码</a>
</div>
<div class="width100 hidden_yh" style="background: #f0f0f0;padding-top: 34px;padding-bottom: 34px;">
    <div class="width1200 hidden_yh center_yh">
        <!--引入用户功能栏-->
        <div th:replace="common/bar::#vipNav"></div>
        <div id="vipRight">
            <div class="fon24" style="height: 60px;line-height: 60px;text-indent: 50px;background: #f5f8fa;border-bottom: 1px solid #ddd;">
                修改密码
            </div>
            <div th:if="${msg != null}" th:text="${msg}" style="color: red"></div>
           <form method="post" th:action="@{/userMsg/updatePass}" onsubmit="return passForm()">
                <div class="bj_fff hidden_yh" style="width: 838px;border:1px solid #ddd; margin-top: 30px;padding: 50px;">
                    <div class="width100" style="height: 32px;line-height: 32px;">
                        <div class="left_yh font16 tright" style="width: 120px;">
                            <font class="red">*</font>旧密码：
                        </div>
                        <input type="password" id="jiu" name="oldPass" style="width: 243px;border: 1px solid #ddd; outline: none;height: 30px;text-indent: 10px;">
                    </div>
                    <div class="width100" style="height: 32px;line-height: 32px;margin-top: 25px;">
                        <div class="left_yh font16 tright" style="width: 120px;">
                            <font class="red">*</font>新密码：
                        </div>
                        <input type="password" id="xin" name="newPass" style="width: 243px;border: 1px solid #ddd; outline: none;height: 30px;text-indent: 10px;">
                    </div>
                    <div class="width100" style="height: 32px;line-height: 32px;margin-top: 25px;">
                        <div class="left_yh font16 tright" style="width: 120px;">
                            <font class="red">*</font>确认新密码：
                        </div>
                        <input type="password" id="que" style="width: 243px;border: 1px solid #ddd; outline: none;height: 30px;text-indent: 10px;">
                    </div>
                    <div class="width100" style="height: 32px;line-height: 32px;margin-top: 25px;">
                        <input type="submit" value="修改" class="left_yh block_yh font16 tcenter ff5802 con" style="width: 244px;height: 33px;line-height: 33px;margin-left:120px;">
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>
<!--引入尾部-->
<div th:replace="common/foot::#foot"></div>
</body>

</html>