<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzpq.shop_ssm.mapper.manage.ItemMapper">

    <select id="findAllItem" resultType="com.nzpq.shop_ssm.pojo.Item" parameterType="com.nzpq.shop_ssm.pojo.Item">
        select * from item where  isDelete = 0

        <if test="name != null">
            and name like concat('%',#{name},'%')
        </if>



    </select>

    <update id="deleteItem" parameterType="Integer">
        update item set isDelete = 1 where id = #{id}
    </update>
</mapper>