<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="foot">
    <div class="width1200 center_yh" style="height: 130px;margin-top: 60px;">
        <img src="../../../static/user/images/db.png" alt="">
    </div>
    <!--页脚-->
    <div class="width100 hidden_yh" style="background: #f0f0f0;margin-top: 90px;">
        <div class="width1200 center_yh tcenter" >
            <div class="font16 c_33 tcenter" style="margin-top: 6px;">www.nzpq.xyz © Copyright 果蔬销售 2017-2021</div>
            <div class="font16 c_33 tcenter" style="margin-top: 6px;">电话：010-666666666 手机：12345678941</div>
            <div class="font16 c_33 tcenter" style="margin-top: 6px;">豫ICP备20003875号</div>
        </div>
    </div>
</div>
</body>
</html>