<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
    <link type="text/css" rel="stylesheet" href="../../../static/ml/css/style.css">
    <link type="text/css" rel="stylesheet" href="../../../static/css/pintuer.css">
    <link type="text/css" rel="stylesheet" href="../../../static/css/admin.css">
    <script src="../../../static/js/jquery.js"></script>
    <script src="../../../static/js/pintuer.js"></script>
</head>
<body>
<div class="bg"></div>
<div class="container">
    <div class="line bouncein">
        <div class="xs6 xm4 xs3-move xm4-move">
            <div style="height: 150px;"></div>
            <div class="media media-y margin-big-bottom"></div>
            <form th:action="@{/admin/login}" method="post">
                <div class="panel login-box">
                    <div class="text-center margin-big padding-big-top"><h1>管理员登录</h1></div>

                    <!--错误信息提示框-->
                    <div style="text-align: center;color:red"><p th:text="${msg}" th:if="${msg != null}"></p></div>

                    <div class="panel-body" style="padding: 30px;padding-bottom: 10px; padding-top: 10px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" class="input input-big" name="username" value="admin" placeholder="登录账号" data-validate="required:请填写账号" />
                                <span class="icon icon-user margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="password" class="input input-big" name="password" value="123"  placeholder="登录密码" data-validate="required:请填写密码" />
                                <span class="icon icon-key margin-small"></span>
                            </div>
                        </div>
                    </div>
                    <div style="padding: 30px;">
                        <input type="submit" class="button button-block bg-main text-big input-big" value="登录" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>